<div class="container-fluid mt-2 animated fadeIn p-4 ng-scope" id="#about">
    <div class="row">
        <div class="col-md-10 offset-md-1 pt-4">
            <h2 class="h2-responsive google-font" style="color: #424242">About GDG Setif</h2>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-1 ">
			<img src="assets/img/gdg_setif_logo.jpg" alt="" width="400vh" class=" mb-2">
            
        </div>
        <div class="col-md-6 google-font">
                <p>
                <b style="font-size:130%">Google Developer Group Setif</b> is inspired by <b>GDG Family</b> . We started our journey in July 2017. We try to engage student developers, fresh graduates and professionals through our hack events & meetups. The motive is to create a local ecosystem of programmers &amp; hackers in and around Setif. The technology awareness is main goal for first few years of the group.
            </p>
            
            <p>
                A special community called <b>WTM Setif</b> has been founded for girls to bridge the gap between women who are eager to lay their hands on the latest technology. To put it in a nutshell, we are a community that organizes tech talks, workshops, barcamps, Google flagship events where programmers meet to discuss and work with several Google developer resources and products. Our events are open to newbies, developers, managers and organizations who are interested in Google's technologies or use them as part of their projects.
            </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <br>
            <a class="btn btn-blue btn-md m-0 mb-4 z-depth-0" href="https://www.meetup.com/GDG-Setif/">Become a Member</a>
        </div>
    </div>
</div>

<div class="container-fluid grey lighten-5 pt-4 pb-4 ng-scope" id="contact">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <br>
            <h3 class="h3-responsive google-font" style="color:#0099CC">Contact Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-1 order-md-1 order-2">
            <p class="m-1">Website: <a href="https://www.gdgsetif.club">gdgsetif.club</a></p>
            <p class="m-1">Email: <a href="mailto:contact@gdgsetif.club">contact@gdgsetif.club</a></p>
            <p class="m-1">Meetup: <a href="https://meetup.com/GDG-Setif">meetup.com/GDG-Setif</a></p>
            <br>
            <h5 style="color:#0099CC" class="google-font">Follow us on our Social Pages</h5>
            
            <ul class="list-inline">
                    <li class="list-inline-item m-2" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                        <center>
                            <a href="https://www.facebook.com/gdgsetif19/" target="_blank">
                            <i class="fa fa-facebook fa-2x" aria-hidden="true" style="color:#283593 ;"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;
                        </center>
                    </li>

                    <li class="list-inline-item m-2" data-toggle="tooltip" data-placement="bottom" title="Meetup">
                        <center>
                            <a href="https://meetup.com/GDG-Setif" target="_blank">
                            <i class="fa fa-meetup fa-2x" aria-hidden="true" style="color:#bb0000 ;"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;
                        </center>
                    </li>

                    <li class="list-inline-item m-2" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
                        <center>
                            <a href="https://www.linkedin.com/company/gdgsetif/" target="_blank">
                            <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="color:#007bb5;"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;
                        </center>
                    </li>

                    <li class="list-inline-item m-2" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                        <center>
                            <a href="https://twitter.com/gdg_setif" target="_blank">
                            <i class="fa fa-twitter fa-2x" aria-hidden="true" style="color:#00e5ff ;"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;
                        </center>
                    </li>
                   
                    <li class="list-inline-item m-2" data-toggle="tooltip" data-placement="bottom" title="GitHub">
                        <center>
                            <a href="https://github.com/GDGSetif" target="_blank">
                            <i class="fa fa-github fa-2x" aria-hidden="true" style="color:#263238;"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;
                        </center>
                    </li>
            </ul>

        </div>
        <div class="col-md-5 order-md-2 order-1">
            <center>
            <img src="assets/img/comm.png" width="60%">
            <br>
            <br>
            </center>
        </div>
    </div>
    
</div>

<div class="container-fluid pt-5 pb-5 ng-scope" id="coc">
    <div class="row">
                <div class="col-md-10 offset-md-1">
                <h3 class="h3-responsive google-font" style="color:#0099CC">GDG Setif Events Code of conduct</h3>
                <hr>
                <p>
                    GDG Setif is dedicated to providing a harassment-free and inclusive event experience for everyone regardless of gender identity and expression, disabilities, neurodiversity, physical appearance, body size, ethnicity, nationality, race, age, religion, or other protected category. We do not tolerate harassment of event participants in any form. GDG Setif takes violations of our policy seriously and will respond appropriately.
                </p>
                
                <h5 class="h5-responsive mb-4 mt-4"><b>All participants of GDG Setif events must abide by the following policy:</b></h5>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="text-muted" style="font-size:120%">Be excellent to each other</p>
                            <p>We want the event to be an excellent experience for everyone regardless of gender identity and expression, disabilities, neurodiversity, physical appearance, body size, ethnicity, nationality, race, age, religion, or other protected category. Treat everyone with respect. Participate while acknowledging that everyone deserves to be here -- and each of us has the right to enjoy our experience without fear of harassment, discrimination, or condescension, whether blatant or via micro-aggressions. Jokes shouldn’t demean others. Consider what you are saying and how it would feel if it were said to or about you.</p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-muted" style="font-size:120%">Speak up if you see or hear something.</p>
                            <p>Harassment is not tolerated, and you are empowered to politely engage when you or others are disrespected. The person making you feel uncomfortable may not be aware of what they are doing, and politely bringing their behavior to their attention is encouraged. If a participant engages in harassing or uncomfortable behavior, the event organizers may take any action they deem appropriate, including warning or expelling the offender from the event with no refund. If you are being harassed or feel uncomfortable, notice that someone else is being harassed, or have any other concerns, please contact a member of the event staff immediately.</p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-muted" style="font-size:120%">Practice saying "Yes and" to each other.</p>
                            <p>It’s a theatre improv technique to build on each other’s ideas. We all benefit when we create together.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
<div class="container-fluid grey lighten-4 pt-5 pb-5 ng-scope">
    <div class="row" style="">
            <div class="col-md-10 offset-md-1">
                <h3 class="h3-responsive google-font" style="color:#0099CC">Community guidelines</h3>
                <hr>
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <b>Be nice.</b>We're all part of the same community, so be friendly, welcoming, and generally a nice person. Be someone that other people want to be around.
                            </p>
                            <br>
                            <p>
                                <b>Be respectful and constructive.</b>Remember to be respectful and constructive with your communication to fellow members. Don't get into flamewars, make personal attacks, vent, or rant unconstructively. Everyone should take responsibility for the community and take the initiative to diffuse tension and stop a negative thread as early as possible.
                            </p>
                            <br>
                            <p>
                                <b>Be collaborative.</b>Work together! We can learn a lot from each other. Share knowledge, and help each other out.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <b>Participate.</b>Join in on discussions, show up for in-person meetings regularly, offer feedback, and help implement that feedback.
                            </p>
                            
                            <p>
                                <b>Step down considerately. </b>If you have some form of responsibility in your community, be aware of your own constraints. If you know that a new job or personal situation will limit your time, find someone who can take over for you and transfer the relevant information (contacts, passwords, etc.) for a smooth transition.
                            </p>
                            
                            <p>
                                <b>Basic etiquette for online discussions. </b>Don’t send messages to a big list that only need to go to one person. Keep off topic conversations to a minimum. Don’t be spammy by advertising or promoting personal projects which are off topic.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

</div>

<div class="container-fluid pt-5 pb-5  blue darken-3 ng-scope">
    <div class="row" style="">
            <div class="col-md-10 offset-md-1 text-white">
                <h3 class="h3-responsive google-font">GDG Setif Code of conduct</h3>
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <img src="assets/img/coc.png" width="100%" class="mt-0">
                        </div>
                        <div class="col-md-8 pt-2 text-white">
                            <p>
                                When you join our Community, you’re joining a Member. And like any growing community, a few ground rules about expected behavior are good for everyone. These guidelines cover both online (e.g. mailing lists, social channels) and offline (e.g. in-person meetups) behavior.
                            </p>
                            <p>
                                Violations of this code of conduct can result in members being removed from the Community. Use your best judgement, and if you’d like more clarity or have questions feel free to reach out.
                            </p>
                            <br>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 

</div>