<div class="container-fluid pt-1 pb-2 grey lighten-5 animated fadeIn ng-scope" id="#contact">
    <div class="row pt-2 pb-0">
        <div class="col-md-10 offset-md-1">
            <br>
            <h2 class="h2-responsive google-font">Contact</h2>
            <p>Our events are open to newbies, developers, managers, and organizations who are interested in Google's technologies or use them as part of their projects. Google Developer Groups (GDGs) are for developers who are interested in Google's developer technology; everything from the Android, App Engine, and Google Chrome platforms, to product APIs like the Maps API, YouTube API and Google Calendar API.</p>
            <p>Email: contact@gdgsetif.club</p>
            <p>Website: gdgsetif.club</p>
            <p>Meetup: meetup.com/GDG-Setif</p>

        </div>
    </div>
</div>
<div class="container-fluid pt-1 pb-2 grey lighten-5 z-depth-0 animated fadeIn ng-scope">
    <div class="row pt-2 pb-5">
        <div class="col-md-10 offset-md-1">
            <h3 class="h3-responsive google-font">Keep in touch with Google Developers Group Setif for the latest announcements</h3>
            <br>
            <ul class="list-inline">
                <li class="list-inline-item m-2" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                    <center>
                        <a href="https://www.facebook.com/gdgsetif19/" target="_blank">
                        <i class="fa fa-facebook fa-2x" aria-hidden="true" style="color:#283593 ;"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                    </center>
                </li>

                <li class="list-inline-item m-2" data-toggle="tooltip" data-placement="bottom" title="Meetup">
                    <center>
                        <a href="https://www.meetup.com/GDG-Setif/" target="_blank">
                        <i class="fa fa-meetup fa-2x" aria-hidden="true" style="color:#bb0000 ;"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                    </center>
                </li>
                <li class="list-inline-item m-2" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                    <center>
                        <a href="https://twitter.com/gdg_setif" target="_blank">
                        <i class="fa fa-twitter fa-2x" aria-hidden="true" style="color:#00e5ff ;"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                    </center>
                </li>
                 <li class="list-inline-item m-2 " data-toggle="tooltip" data-placement="bottom" title="Instagram">
                    <center>
                        <a href="https://www.instagram.com/gdgsetif/" target="_blank">
                        <i class="fa fa-instagram fa-2x" aria-hidden="true" style="color:#cd486b ;"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                    </center>
                </li>
				<li class="list-inline-item m-2 " data-toggle="tooltip" data-placement="bottom" title="GitHub">
                    <center>
                        <a href="https://github.com/GDGSetif" target="_blank">
                        <i class="fa fa-github fa-2x" aria-hidden="true" style="color:#263238;"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                    </center>
                </li>
				<li class="list-inline-item m-2" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
                    <center>
                        <a href="https://www.linkedin.com/company/gdgsetif/" target="_blank">
                        <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="color:#007bb5;"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                    </center>
                </li>
            </ul>
        </div>
    </div>
</div>