<div class="container-fluid ng-scope" style="background-image: url('assets/img/a.svg');background-repeat: no-repeat;background-size: cover;" id="#events">
    <div class="row">
        <div class="col-md-12 pt-5 pb-5 text-center">
            <img src="assets/img/gdg.png" width="200vh">
            <br><br>
            <h3 style="font-family: google-sans">GDG Setif's Events</h3>
    
            <p class="google-font">Questions? Please contact contact@gdgsetif.club. GDG Setif Code of Conduct</p>
            
        </div>
    </div>
    
    <div class="row pb-5">
        <div class="col-md-10 offset-md-1">
            <h4 style="font-family: google-sans">Upcoming Events</h4>
            <p>Our events are open to newbies, developers, managers, and organizations who are interested in Google's technologies or use them as part of their projects.</p>

            <div class="container-fluid p-0 mt-5">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <img src="assets/img/wait.png" alt="" width="200vh">
                        <p>We work hard to be ready soon...</p>
                    </div>     
                </div>
            </div>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-md-10 offset-md-1">
            <h4 style="font-family: google-sans">Directory of past events</h4>
            <p>Events are listed in reverse chronological order by date.</p>

            <div class="container-fluid p-0 mt-5">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <img src="assets/img/wait.png" alt="" width="200vh">
                        <p>We work hard to be ready soon...</p>
                    </div>     
                </div>
            </div>
        </div>
    </div>
    
</div>