<div class="container-fluid">
    <div class="row p-2">
        <div class="col-md-8 offset-md-2 pt-2 pb-2">
            <br>
            <h3 class="animated fadeInUp" style="font-family: google-sans;color: #1a73e8;">Our lineup of big thinkers and even bigger doers</h3>
            <br>
            <p class="animated fadeInUp" style="font-family: google-sans">Google is known all around the world. Everyone is 'googling', checking on 'maps' and communicating in 'gmail'. For simple users, they are services that just works, but not for us. Developers see much more: APIs, scalability issues, complex technology stacks. And that is what GDG is about.</p>
			<br>
			<p class="animated fadeInUp" style="font-family: google-sans">Our goal is to organize space to connect the best industry experts with Indian audience to boost development of IT. And Our Core Team is:</p>
           <br>
        </div>
    </div>
   
</div>


<div class="container-fluid" style="background-image: url('../assets/img/a.svg');background-repeat: no-repeat;background-size: cover;">
    <div class="row mt-2 mb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="container-fluid">
                        <div class="row animated fadeInUp">
                            <div class="col-md-3 col-6 text-center mt-4" ng-repeat="sp in speakersData">
                                <img src="{{sp.profileImg}}" alt="Speaker Image" class="rounded-circle" width="60%">
                                <br><br>
                                <h5 class="h5-responsive" style="font-family: google-sans;">{{sp.name}}</h5>
                                <p>{{sp.role}}</p>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
